
<h1>Welcome {{userLoggedIn.user_name}}!</h1>

<section class='dashboard'>
  <div>
    <h3>Do Something</h3>
    <a href="/">Read the Blog</a>
    <br>
    <a href="/posts/new">Write A Post</a>
  </div>

  <div>
    <h3>Edit Your Account</h3>
    <a href="/users/update/user_name/{{userLoggedIn.id}}">Edit Your Username</a>
    <br>
    <a href="/users/update/email/{{userLoggedIn.id}}">Edit Your Email</a>
    <br>
    <a href="/users/update/password/{{userLoggedIn.id}}">Edit Your Password</a>
    <br>
    <a href="/users/delete/{{userLoggedIn.id}}">Delete Your Account</a>
  </div>
</section>
