<section class='display-posts'>
    {{#each posts}}
    <div class='single-post'>
      <h3>{{this.user_name}} -  {{this.created_at}}</h3>
      <p>Wins: <span>{{this.wins}}</span></p>
      <p>Losses: <span>{{this.losses}}</span></p>
      <p>Lessons Learned: <span>{{this.learned}}</span></p>
      <a href="/posts/{{this.postid}}">
        Read Post with Comments - [{{this.comment_count}}]
      </a>
    </div>
    {{/each}}
</section>
