<div class="user-session">
  <button type="button" name="button"><a href="/posts/new">Create a New Post</a></button>
  <!-- if NOT logged in show this link -->
  <a href="/users">Login</a>
  <!-- else show this -->
  <a href="/users/logout">Logout</a>
</div>


<section class='display-posts'>
    {{#each posts}}
    <div class='single-post'>
      <h3>{{this.user_name}} -  {{this.created_at}}</h3>
      <p>Wins: <span>{{this.wins}}</span></p>
      <p>Losses: <span>{{this.losses}}</span></p>
      <p>Lessons Learned: <span>{{this.learned}}</span></p>
      <a href="/posts/{{this.postID}}">Read Full Post with Comments</a>
    </div>
    {{/each}}
</section>
