<h1>EOD Stand Down - Reflect	&#38; Grow!</h1>
<h3>Produced with Express js, pSQL, and Heroku DB</h3>

<section class='display-posts'>
    {{#each posts}}
    <div class='single-post'>
      <h3>User {{this.user_id}} -  {{this.created_at}}</h3>
      <p>Wins: <span>{{this.wins}}</span></p>
      <p>Losses: <span>{{this.losses}}</span></p>
      <p>Lessons Learned: <span>{{this.learned}}</span>  </p>
    </div>
    {{/each}}
</section>
